[Unit]
Description="Bootplay, Play random chimes on startup"
After=sys-devices-pci0000:00-0000:00:03.0-sound-card0-controlC0.device
Require=sound.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bootplay

[Install]
WantedBy=default.target
